body {
    min-height: 100svh;  
    margin: 0;
    padding: 1rem;
    background-color: #D5E1EF;
    font-family: 'Outfit', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Style for the main content */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100Vh;
}

.qr {
    width: 320px;
    height: 499px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
    text-align: center;
}

/* Style for the QR code image */
.qr img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

/* Style for the main paragraph text */
.fr {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    padding: 0 16px;
}

/* Style for the smaller paragraph text */
.sm {
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 140%;
    padding: 0 16px;
    margin: 0;
}
